body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(151, 156, 78);
    color: rgb(49, 43, 43);
    margin: 0;
    padding: 0 20px;
}

img{
    max-width: 70%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.content{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.content h2{
    color: blue;
    font-size: 2em;
    flex: 1;
    margin: 0;
}

.content p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.8;
    flex: 2;
}

a{
    display:inline-block;
    text-decoration: none;
    background-color: rgb(27, 90, 41);
    color:rgb(47, 30, 207);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    align-items:center;
}

a:hover{
    background-color: rgb(153, 85, 96);
    box-shadow: 0 10px 6px rgb(0, 0, 0);
}

.galery{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.galery img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
